*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --heading-color:#000958;
    --frimary-color:#FD5056;
    --desc-color:#030303;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

h1, h2 ,h3{
    font-family: 'Sora', sans-serif;
}

input, button, area{
    font-family: inherit;
}


/* ------------------------------common-------------------------- */

.container{
    max-width: 1170px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}


.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18.9rem;
    height: 6rem;
    color: #fff;
    background-color: var(--frimary-color) ;
    border-radius: 999px;
    border: 1px solid var(--frimary-color);
    transition: background-color 0.3s, color 0.3s ;
}


/* -----------------------------nav--------------------------------- */

.nav__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
}

.logo-box{
    display: flex;
    align-items: center;
}

.logo-text{
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    color: #000958;
    margin-left: 10px;

}

.nav__list{
    display: flex;
}

.nav__items{
    display: inline-block;
    padding: 18px;
    font-size: 1.4rem;
    color: #5E6085;
    font-weight: 500;

}

.active{
    text-shadow: 1px 1px 0  rgba(0, 0, 0, 0.6);
    color: #000958;
    pointer-events: none;
}

.nav__items:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
}

.nav__btn{
   width: 117px;
   height: 50px;
    background-color: #fff;
    color: var(--heading-color);
    border-color: var(--heading-color);
}

.nav__btn:hover{
   background-color: var(--heading-color);
   color: #fff;
}


